html,body{
    height: 100%;
    margin: 0;
}
.container-fluid{
    font-family: 'Cardo', serif;
}
.navbar{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    width: 80%;
    margin: 0% 9%;
    border-radius: 16px;
}
#headerOne{
    font-family: 'Cinzel', serif;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button{
    font-weight: bold;
}

.dropdown-content {
    font-family: 'Cardo', serif;
    font-weight: normal;
    display: none;
    position: absolute;
    background-color: ghostwhite;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: white;
    background: #457fca;
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);
    background: linear-gradient(to right, #5691c8, #457fca);
}

.dropdown:hover .dropdown-content {display: block;}

.parallaxOne{
    background-image: url("banner.jpg");
    height: 80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .parallaxOne {
        height: 65%;
    }
}
.parallaxOne-text{
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
@media only screen and (max-width: 600px) {
    .parallaxOne-text {
        top: 75%;
        left: 50%;
    }
}
.parallaxOne-text button{
    border: none;
    font-family: Palatino;
    border-radius: 20px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background: #457fca;
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);
    background: linear-gradient(to right, #5691c8, #457fca);
    text-align: center;
    cursor: pointer;
}
#aboutSection h1{
    margin: 2% 3%;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
}
@media only screen and (max-width: 600px) {
    #aboutSection h1 {
        margin: 5%;
        font-family: 'Cinzel', serif;
        font-weight: bolder;
    }
}
#aboutSection p{
    font-family: 'Cardo', serif;
    margin: 1% 5%;
}
#col-xlbg{
    background-image: url("about.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
#col-xlbgOne button{
    color: white;
    background: #457fca;
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);
    background: linear-gradient(to right, #5691c8, #457fca);
    border-radius: 16px;
    margin: 20% 30%;
}
.upperFooter{
    height: 50%;
    text-align: center;
    background: #457fca;
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);
    background: linear-gradient(to right, #5691c8, #457fca);
    color: white;
}
.upperFooter button {
    border: none;
    border-radius: 20px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: #5691c8;
    text-align: center;
    cursor: pointer;
}
footer{
    background: #667db6;
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    color: white;
    height: 65px;
}